{% extends 'base.html' %}
{% block content %}

<h2 class="text-xl font-bold mb-4">Mark Attendance</h2>

<form method="POST">
    {% csrf_token %}

    <table class="w-full bg-white shadow">
        <tr class="bg-gray-200">
            <th class="p-2">Student Name</th>
            <th class="p-2">Present</th>
        </tr>

        {% for student in students %}
        <tr class="border-t">
            <td class="p-2">{{ student.name }}</td>
            <td class="p-2 text-center">
                <input type="checkbox" name="{{ student.id }}" checked>
            </td>
        </tr>
        {% endfor %}
    </table>

    <button class="mt-4 bg-blue-600 text-white px-4 py-2 rounded">
        Submit Attendance
    </button>
</form>

{% end block %}